*{
    margin:0;
    padding:0;
}
h2{

color:#F6FF93;
font-size: 12pt;
}
h1{
font: 25px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.info a.back{
	position: absolute;
	bottom:20px;
	left:10px;
	text-decoration:none;
	color:#603d05;
	text-shadow:1px 1px 1px #fff;
	font-weight:bold;
}
.info a.back:hover{
	color:#000;
}
#header{
    position:absolute;
    top:0px;
    left:0px;
    width:180px;
    height:395px;
    background:transparent url(title.png) no-repeat top left;
}
#content{
    width:824px;
    height:600px;
    margin:-200px auto 0px auto;
    background:transparent url(bg.gif) no-repeat bottom left;
}
#content h1{
    color:#7F6137;
    text-shadow:1px 1px 1px #fff;
}
#content p{
    margin:20px;
    width:600px;
}
#content .text{
    padding:300px 0px 0px 100px;
}
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 200px;
    list-style: none;
    z-index:999999;
}
ul#navigation li {
    display:inline;
    float:left;
    width:100px;
    margin-left:1px;

}
ul#navigation li a {
    display: block;
    font-weight:bold;
    text-shadow:1px 1px 1px #fff;
    float:left;
    width: 100px;
    height: 35px;
    color:#603d05;
    background:transparent url(item.png) no-repeat bottom right;
    text-decoration:none;
    text-align:center;
    padding-top:80px;
    margin-top: -40px;
    cursor:pointer;

}
ul#navigation li a:hover{

}

